{% extends '../base.html' %}
{% load static %}

{% block title %}Наша команда{% endblock %}
<body>
{% block header %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Курсы</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="/">Главная</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="">Курсы</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
{% endblock %}
{% block nav_home %}<a href="{% url 'school:school_home' %}" class="nav-item nav-link">Главная</a>{% endblock %}
{% block nav_course %}<a href="{% url 'courses:courses_all' %}" class="nav-item nav-link active">Курсы</a>{% endblock %}
{% block body %}

{% endblock %}
</body>

</html>