{% extends 'teacher_pm/teacher_base.html' %}

{% block body %}

<div class="container mt-3">
  <h2>Классный журнал</h2>
{% for crs, lesson in courses_lessons.items %}
    <h3 class="text-info">{{ crs }}</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ФИО ученика</th>
          {% for lsn in lesson %}
        <th>Посещение занятия: {{ lsn.title }}</th>
        <th>Выполнение ДЗ к {{ lsn.title }}</th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>

    {% for student, data in student_homeworks.items %}
        {% if student in crs.students.all %}
      <tr>
        <td>{{ student.name }} {{ student.surname }} {{ student.last_name }}</td>
        {% for value in data.attendance %}
            {% if value == 1 %}
                <td class="text-primary">Посетил</td>
            {% else %}
                <td class="text-danger">Не посетил</td>
            {% endif %}
        {% endfor %}
        {% for value in data.homework %}
            {% if value == 1 %}
                <td class="text-primary">Выполнил </td>
            {% else %}
                <td class="text-danger">Не выполнил </td>
            {% endif %}
        {% endfor %}
      </tr>
        {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% endfor %}
</div>

</body>

{% endblock %}