{% extends 'teacher_pm/teacher_base.html' %}

{% block body %}
<div class="d-grid flex-column justify-content-center">
<div class="card text-center mx-auto mb-5 mt-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ lesson.title }}</h5>
        <p class="card-text">{{ homework.student.name }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Курс: </li>
        <li class="list-group-item">Дата и время начала: </li>
        <li class="list-group-item">Время:  мин.</li>
        <li class="list-group-item"><a href="">Домашнее задание</a></li>
      </ul>
      <div class="card-body">
          {% if lesson.video_link %}
        <li class="list-group-item"><a href="">Ссылка на подключение</a></li>
          {% else %}
        <li class="list-group-item">Ссылка не доступна</li>
          {% endif %}
      </div>
</div>
{% for homework in homeworks %}
<div class="card text-center mx-auto mb-5 mt-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ homework.homework.lesson.title }}</h5>
        <p class="card-text">{{ homework.student.name }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Курс: </li>
        <li class="list-group-item">Дата и время начала: </li>
        <li class="list-group-item">Время:  мин.</li>
        <li class="list-group-item"><a href="">Домашнее задание</a></li>
      </ul>
      <div class="card-body">
          {% if lesson.video_link %}
        <li class="list-group-item"><a href="">Ссылка на подключение</a></li>
          {% else %}
        <li class="list-group-item">Ссылка не доступна</li>
          {% endif %}
      </div>
</div>
{% endfor %}

</div>
{% endblock %}