{% extends '../base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}
<body>
{% block header %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">О нас</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white"
                                                           href="/">Главная</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">О нас</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
{% endblock %}
{% block nav_home %}<a href="{% url 'school:school_home' %}" class="nav-item nav-link">Главная</a>{% endblock %}
{% block nav_about %}<a href="{% url 'school:about' %}" class="nav-item nav-link active">О нас</a>{% endblock %}
{% block body %}
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Высококвалифицированные преподаватели</h5>
                            <p>Репетиторы проходят строгий отбор, а после зачисления в штат — повышение квалификации</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Находим подход к любому ученику</h5>
                            <p>Подбираем индивидуальную программу занятий — с учетом уровня знаний ребенка и цели обучения</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">Бережем свободное время</h5>
                            <p>Ребенку не понадобится ездить к репетитору: все занятия проходят онлайн 8:00–22:00 мск</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">Экономим ваши деньги</h5>
                            <p>Вам не нужно покупать учебники и тетради: все необходимое есть в личном кабинете ученика</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
{#                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">#}
{#                    <div class="position-relative h-100">#}
{#                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt=""#}
{#                             style="object-fit: cover;">#}
{#                    </div>#}
{#                </div>#}
                <div class="col-lg-16 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">О нас</h6>
                    <h1 class="mb-4">Приветствуем в HomeStudy</h1>
                    <p class="mb-4">Помогаем школьникам получать знания онлайн из любой точки мира — без лишних затрат и в комфортной обстановке</p>
                    <p class="mb-4">Мы онлайн-платформа, на которой вы можете найти репетитора для своего ребенка.
                        Проводим интерактивные онлайн-занятия по школьным предметам для учеников и бесплатные вебинары для их родителей</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-16">
                            <p class="mb-0 gy-0"><i class="fa fa-arrow-right text-primary me-2"></i><strong class="text-primary">Высококвалифицированные преподаватели</strong><br>
                            <p>На платформе онлайн-обучения мы гордимся нашим коллективом высококвалифицированных педагогов.
                            Они не просто обладают глубокими знаниями в своих предметных областях, но и вдохновляют, поддерживают и мотивируют наших учеников.</p>
                            <p>Наши преподаватели – это не просто эксперты в своих областях, но и теплые, заботливые личности,
                            которые стремятся сделать процесс обучения увлекательным и удобным. Они умело адаптируют учебные
                            программы под индивидуальные потребности каждого ученика, создавая атмосферу, где учебный процесс становится увлекательным приключением.</p>
                            <p>Мы верим, что квалификация и опыт наших преподавателей – это залог успеха каждого ученика.
                            Они не только делают процесс обучения интересным и понятным, но и помогают развить у учеников навыки самостоятельности,
                            критического мышления и уверенности в своих силах.</p>
                            <p>Присоединяйтесь к нашей платформе и позвольте нашим выдающимся преподавателям быть вашим гидом в мир знаний,
                            открывая новые горизонты обучения и вдохновляя на достижение лучших результатов.</p>
                            </p>
                        </div>
                        <div class="col-sm-16">
                            <p class="mb-0 gy-0"><i class="fa fa-arrow-right text-primary me-2"></i><strong class="text-primary">Онлайн уроки</strong><br>
                            <p>В современном мире технологии преобразили каждый аспект нашей жизни, включая образование.
                            Онлайн уроки стали ключевым элементом этого обновленного образовательного опыта, предоставляя учащимся уникальные возможности для роста и развития.</p>
                            <p>Одним из главных преимуществ онлайн обучения является доступность. Ученики могут изучать новый материал из любой точки мира, в любое удобное время.
                            Это создает уникальные условия для гибкости обучения и поддерживает тех, кто сталкивается с ограничениями в распорядке дня.</p>
                            <p>Высококвалифицированные преподаватели играют решающую роль в этой эволюции образования.
                            Онлайн формат предоставляет возможность привлечь специалистов из самых разных областей, делая обучение более разнообразным и интересным.
                            Взаимодействие с опытными и квалифицированными преподавателями открывает ученикам двери к глубокому пониманию предмета и вдохновляет на дальнейшее обучение.</p>
                            <p>Технологии, используемые в онлайн уроках, также позволяют персонализировать образовательный процесс.
                            Учащиеся могут выбирать темп обучения, использовать различные форматы материалов, а также взаимодействовать друг с другом и преподавателями через
                            разнообразные интерактивные инструменты.</p>
                            <p>Таким образом, онлайн уроки представляют собой не только современный метод обучения, но и открывают перед образованием новые перспективы.
                            Они позволяют учащимся и преподавателям взаимодействовать на новом уровне, создавая более увлекательную и эффективную среду для обучения и роста.</p>
                            </p>
                        </div>
                        <div class="col-sm-16">
                            <p class="mb-0 gy-0"><i class="fa fa-arrow-right text-primary me-2"></i><strong class="text-primary">Профессионально составленные курсы</strong><br>
                            <p>В мире онлайн-образования для детей, где каждый момент — это возможность для открытий и увлекательных знаний,
                            профессионально составленные курсы становятся ключом к яркому и разностороннему обучению.</p>
                            <p>Когда курсы создаются профессионалами в области педагогики и развития детей, они превращаются в настоящее приключение.
                            Тщательно продуманный контент, сочетающий знания с игрой, делает процесс обучения захватывающим и полезным одновременно.</p>
                            <p>Наши преподаватели — эксперты в области детской психологии и образования. Их цель — не только передать факты,
                            но и создать вдохновляющую образовательную среду, где каждый ребенок может раскрыть свой творческий потенциал</p>
                            <p>Интерактивные элементы в курсах не только углубляют усвоение материала, но и способствуют развитию коммуникативных навыков.
                            Виртуальные лаборатории, квесты, и творческие проекты помогают детям изучать мир в игровой форме.</p>
                            <p>Онлайн-платформа для детей — это не только удобный формат обучения, но и возможность детям с легкостью учиться в любом месте,
                            сохраняя интерес к урокам. Технологии встроены так, чтобы сделать обучение не только эффективным, но и увлекательным.</p>
                            <p>Таким образом, профессионально разработанные курсы для детей на нашей онлайн-платформе — это путеводитель в мир знаний и открытий.
                            Подарите вашему ребенку возможность обучаться с удовольствием и радостью, открывая для себя неограниченные грани образования.</p>
                            </p>
                        </div>
                        <div class="col-sm-16">
                            <p class="mb-0 gy-0"><i class="fa fa-arrow-right text-primary me-2"></i><strong class="text-primary">Индивидуальный подход</strong><br>
                            <p>В мире онлайн-образования для детей мы с гордостью представляем индивидуальный подход к каждому ученику.
                            Наши курсы созданы так, чтобы поддерживать и развивать уникальные способности и интересы каждого ребенка.</p>
                            <p>Осознавая, что каждый ребенок уникален, мы предоставляем персонализированные материалы и методы обучения.
                            Этот индивидуальный подход позволяет детям развиваться в соответствии с их темпом и стилем обучения.</p>
                            <p>Наши опытные преподаватели стремятся понять особенности каждого ученика, создавая атмосферу взаимопонимания и поддержки.
                            Это позволяет детям чувствовать себя комфортно и свободно выражать свои мысли и идеи.</p>
                            <p>Индивидуальные задания и проекты в наших курсах стимулируют творческое мышление и самовыражение.
                            Мы поддерживаем детей в освоении новых знаний, учитывая их индивидуальные интересы, что способствует глубокому и устойчивому усвоению материала.</p>
                            <p>Технологические возможности нашей платформы также направлены на индивидуальное обучение.
                            Онлайн-профили, система отслеживания прогресса и персональные рекомендации помогают каждому ученику
                            эффективно использовать свои сильные стороны и преодолевать трудности.</p>
                            <p>С нами каждый ребенок может по-своему открывать мир знаний, раскрывать свой уникальный потенциал и шагать вперед в ногу со своим темпом развития.
                            Предоставьте вашему ребенку опыт индивидуального обучения, где каждый момент — это индивидуальный шаг к успеху.</p>
                            </p>
                        </div>
                        <div class="col-sm-16">
                            <p class="mb-0 gy-0"><i class="fa fa-arrow-right text-primary me-2"></i><strong class="text-primary">Домашние задания</strong><br>
                            <p>На нашей онлайн-платформе для детей домашние задания — это не просто обязанность,
                            а возможность для ребенка раскрыть свой потенциал и углубить полученные знания.
                            Мы стремимся сделать домашнее обучение интересным, продуктивным и вдохновляющим.</p>
                            <p><b>1. Гибкость в Исполнении:</b><br>
                            Мы понимаем, что дети разные, и каждый ученик имеет свой уникальный подход к обучению.
                            Домашние задания на нашей платформе разнообразны и гибки, позволяя детям выбирать задания, которые соответствуют их интересам и уровню подготовки.</p>
                            <p><b>2. Интерактивность и Творчество: </b><br>
                            Мы стараемся внедрять в домашние задания элементы интерактивности и творчества.
                            Это могут быть проекты, исследования, создание презентаций или даже художественные работы.
                            Мы верим, что творческий подход делает процесс обучения увлекательным и запоминающимся.</p>
                            <p><b>3. Индивидуальная Оценка Прогресса: </b><br>
                            Каждое выполненное домашнее задание подвергается внимательной проверке и оценке.
                            Наша система обратной связи направлена на поддержку ученика, выявление его сильных сторон и помощь в преодолении трудностей.</p>
                            <p><b>4. Семейная Поддержка: </b><br>
                            Мы ценим роль семьи в образовательном процессе.
                            Домашние задания становятся поводом для семейных обсуждений и взаимопонимания.
                            Родители могут взаимодействовать с учителями, следить за прогрессом ребенка и активно участвовать в его образовании.</p>
                            <p><b>5. Развитие Ответственности: </b><br>
                            Выполнение домашних заданий помогает формировать навыки планирования и управления временем.
                            Дети учатся быть ответственными за свое обучение, что является важным компонентом их развития.</p>
                            <p>На нашей платформе домашние задания — это нечто большее, чем просто шаг в процессе обучения.
                            Это возможность для каждого ребенка проявить свои уникальные способности и получить удовольствие от учебы в уютной домашней обстановке.</p>
                            </p>
                        </div>
                        <div class="col-sm-16">
                            <p class="mb-0 gy-0"><i class="fa fa-arrow-right text-primary me-2"></i><strong class="text-primary">Прогресс ученика</strong><br>
                            <p>На нашей платформе мы уделяем особое внимание отслеживанию и развитию прогресса каждого ученика.
                            Мы стремимся создать образовательную среду, в которой каждый шаг направлен на максимальное раскрытие индивидуальных способностей и достижение успеха.</p>
                            <p>Мы знаем, что у каждого ученика свои уникальные потребности и способности. Наши курсы и задания созданы с учетом этого,
                            предоставляя персонализированный опыт обучения. Это позволяет каждому ученику идти в ногу с собственным темпом и с комфортом учиться.</p>
                            <p>Каждое выполненное задание, тестирование или проект подвергается внимательному анализу со стороны опытных преподавателей.
                            Мы предоставляем детальную обратную связь, выделяя достижения и предлагая рекомендации для дальнейшего улучшения.</p>
                            <p>Наши инструменты отслеживания прогресса позволяют ученикам, их родителям и преподавателям наглядно видеть достигнутые успехи. </p>
                            <p>Мы не просто следим за знаниями учеников, но и ставим перед ними цель развития важных навыков и компетенций.
                            Это включает в себя критическое мышление, коммуникативные навыки, умение решать задачи и многое другое.</p>
                            <p> Наши курсы доступны когда угодно и где угодно.
                            Это позволяет ученикам управлять своим временем, а также обеспечивает возможность возвращения к материалам для более глубокого освоения.</p>
                            </p>
                            <p> На нашей платформе каждый ученик — это уникальная история успеха.
                            Мы стремимся создать условия для постоянного развития и достижения потенциала каждым учеником, шаг за шагом, вместе с нами.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>