{% extends '../base.html' %}

<!DOCTYPE html>
<html lang="en">

{% block header %}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Контакты</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="/">Главная</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">О компании</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Контакты</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
{% endblock %}

{% block body %}
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Свяжитесь с нами</h6>
            <h1 class="mb-5">Напишите нам по любым вопросам</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Будем на связи</h5>
                <p class="mb-4">Будем на связи! Мы ценим каждого нашего ученика и их родителей.
                    Если у вас есть вопросы, предложения или вам требуется дополнительная информация, не стесняйтесь обращаться к нам.
                    Наша команда готова помочь вам в любое время. Мы верим в открытый и эффективный обмен мнениями,
                    чтобы сделать образование вдохновляющим и интересным для каждого ребенка. Держите нас в курсе ваших вопросов, идей и достижений!
                    Вместе мы создаем пространство для качественного онлайн-обучения, где ваш ребенок сможет раскрыть свой потенциал. Спасибо, что выбрали нас!</p>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
                         style="width: 50px; height: 50px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Офис</h5>
                        <p class="mb-0"> г. Санкт-Петербург, ул. Рубинштейна д.5, 3-й этаж</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
                         style="width: 50px; height: 50px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Контактный телефон</h5>
                        <p class="mb-0">+912 345 67890</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
                         style="width: 50px; height: 50px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Email</h5>
                        <p class="mb-0">homestudy@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.0276981130758!2d30.342623977320503!3d59.931682562660235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a6394dc753%3A0x33045f68b62c1dee!2z0YPQuy4g0KDRg9Cx0LjQvdGI0YLQtdC50L3QsCwgNSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsINCg0L7RgdGB0LjRjywgMTkxMDI1!5e0!3m2!1sru!2snl!4v1701794748618!5m2!1sru!2snl"
                        frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </div>
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Ваше имя</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Ваш Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">Тема</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message"
                                          style="height: 150px"></textarea>
                                <label for="message">Вопрос</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Отправить сообщение</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}
{% block nav_home %}<a href="{% url 'school:school_home' %}" class="nav-item nav-link">Главная</a>{% endblock %}
{% block nav_contact %}<a href="{% url 'school:contact' %}" class="nav-item nav-link active">Контакты</a>{% endblock %}
</body>

</html>