{% extends '../base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
{% block body %}
{#     <!-- Carousel Start -->#}
{#    <div class="container-fluid p-0 mb-5">#}
{#        <div class="owl-carousel header-carousel position-relative">#}
{#            <div class="owl-carousel-item position-relative">#}
{#                <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">#}
{#                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"#}
{#                     style="background: rgba(24, 29, 56, .7);">#}
{#                    <div class="container">#}
{#                        <div class="row justify-content-start">#}
{#                            <div class="col-sm-10 col-lg-8">#}
{#                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Лучшие онлайн курсы</h5>#}
{#                                <h1 class="display-3 text-white animated slideInDown">Лучшая онлайн-платформа для обучения из дома</h1>#}
{#                                <p class="fs-5 text-white mb-4 pb-2">С нами вам не придется искать новых педагогов,#}
{#                                    ребенок будет расти и учиться вместе с нами, а мы окажем ему всю возможную поддержку на всех этапах!</p>#}
{#                                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Подробнее</a>#}
{#                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Присоединиться</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="owl-carousel-item position-relative">#}
{#                <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="">#}
{#                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"#}
{#                     style="background: rgba(24, 29, 56, .7);">#}
{#                    <div class="container">#}
{#                        <div class="row justify-content-start">#}
{#                            <div class="col-sm-10 col-lg-8">#}
{#                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Лучшие онлайн курсы</h5>#}
{#                                <h1 class="display-3 text-white animated slideInDown">Получите онлайн образование из дома</h1>#}
{#                                <p class="fs-5 text-white mb-4 pb-2">Наши учебные программы составлены командой профессионалов#}
{#                                с многолетним опытом. Ваш ребенок получит только самое лучшее и качественное образование!</p>#}
{#                                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Подробнее</a>#}
{#                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Присоединиться</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Carousel End -->#}
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Высококвалифицированные преподаватели</h5>
                            <p>Репетиторы проходят строгий отбор, а после зачисления в штат — повышение квалификации</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Находим подход к любому ученику</h5>
                            <p>Подбираем индивидуальную программу занятий — с учетом уровня знаний ребенка и цели обучения</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">Бережем свободное время</h5>
                            <p>Ребенку не понадобится ездить к репетитору: все занятия проходят онлайн 8:00–22:00 мск</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">Экономим ваши деньги</h5>
                            <p>Вам не нужно покупать учебники и тетради: все необходимое есть в личном кабинете ученика</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt=""
                             style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">О нас</h6>
                    <h1 class="mb-4">Приветствуем в HomeStudy</h1>
                    <p class="mb-4">Помогаем школьникам получать знания онлайн из любой точки мира — без лишних затрат и в комфортной обстановке</p>
                    <p class="mb-4">Мы онлайн-платформа, на которой вы можете найти репетитора для своего ребенка.
                        Проводим интерактивные онлайн-занятия по школьным предметам для учеников и бесплатные вебинары для их родителей</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Высококвалифицированные преподаватели</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Онлайн уроки</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Профессионально составленные курсы
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Индивидуальный подход</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Домашние задания</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Прогресс ученика
                            </p>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'school:about' %}">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Категории</h6>
                <h1 class="mb-5">Категории курсов</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                                     style="margin: 1px;">
                                    <h5 class="m-0">Групповые занятия</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/cat-2.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                                     style="margin: 1px;">
                                    <h5 class="m-0">Подготовка к ОГЭ</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/cat-3.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                                     style="margin: 1px;">
                                    <h5 class="m-0">Подготовка к ЕГЭ</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/cat-4.jpg' %}" alt=""
                             style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                             style="margin:  1px;">
                            <h5 class="m-0">Индивидуальные занятия</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Start -->
{#    <!-- Courses Start -->#}
{#    <div class="container-xxl py-5">#}
{#        <div class="container">#}
{#            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">#}
{#                <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>#}
{#                <h1 class="mb-5">Популярные курсы</h1>#}
{#            </div>#}
{#            <div class="row g-4 justify-content-center">#}
{##}
{#                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">#}
{#                    <div class="course-item bg-light">#}
{#                        <div class="position-relative overflow-hidden">#}
{#                            <img class="img-fluid" src="{% static 'img/course-1.jpg' %}" alt="">#}
{#                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">#}
{#                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"#}
{#                                   style="border-radius: 30px 0 0 30px;">Подробнее</a>#}
{#                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"#}
{#                                   style="border-radius: 0 30px 30px 0;">Присоединиться</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="text-center p-4 pb-0">#}
{#                            <h3 class="mb-0">$149.00</h3>#}
{#                            <div class="mb-3">#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small>(123)</small>#}
{#                            </div>#}
{#                            <h5 class="mb-4">Web Design & Development Course for Beginners</h5>#}
{#                        </div>#}
{#                        <div class="d-flex border-top">#}
{#                            <small class="flex-fill text-center border-end py-2"><i#}
{#                                    class="fa fa-user-tie text-primary me-2"></i>John Doe</small>#}
{#                            <small class="flex-fill text-center border-end py-2"><i#}
{#                                    class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>#}
{#                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30#}
{#                                Students</small>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">#}
{#                    <div class="course-item bg-light">#}
{#                        <div class="position-relative overflow-hidden">#}
{#                            <img class="img-fluid" src="{% static 'img/course-2.jpg' %}" alt="">#}
{#                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">#}
{#                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"#}
{#                                   style="border-radius: 30px 0 0 30px;">Read More</a>#}
{#                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"#}
{#                                   style="border-radius: 0 30px 30px 0;">Join Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="text-center p-4 pb-0">#}
{#                            <h3 class="mb-0">$149.00</h3>#}
{#                            <div class="mb-3">#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small>(123)</small>#}
{#                            </div>#}
{#                            <h5 class="mb-4">Web Design & Development Course for Beginners</h5>#}
{#                        </div>#}
{#                        <div class="d-flex border-top">#}
{#                            <small class="flex-fill text-center border-end py-2"><i#}
{#                                    class="fa fa-user-tie text-primary me-2"></i>John Doe</small>#}
{#                            <small class="flex-fill text-center border-end py-2"><i#}
{#                                    class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>#}
{#                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30#}
{#                                Students</small>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">#}
{#                    <div class="course-item bg-light">#}
{#                        <div class="position-relative overflow-hidden">#}
{#                            <img class="img-fluid" src="{% static 'img/course-3.jpg' %}" alt="">#}
{#                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">#}
{#                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"#}
{#                                   style="border-radius: 30px 0 0 30px;">Read More</a>#}
{#                                <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"#}
{#                                   style="border-radius: 0 30px 30px 0;">Join Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="text-center p-4 pb-0">#}
{#                            <h3 class="mb-0">$149.00</h3>#}
{#                            <div class="mb-3">#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small class="fa fa-star text-primary"></small>#}
{#                                <small>(123)</small>#}
{#                            </div>#}
{#                            <h5 class="mb-4">Web Design & Development Course for Beginners</h5>#}
{#                        </div>#}
{#                        <div class="d-flex border-top">#}
{#                            <small class="flex-fill text-center border-end py-2"><i#}
{#                                    class="fa fa-user-tie text-primary me-2"></i>John Doe</small>#}
{#                            <small class="flex-fill text-center border-end py-2"><i#}
{#                                    class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>#}
{#                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30#}
{#                                Students</small>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Courses End -->#}
    <!-- Team Start -->
    {% include '../team/teachers.html' %}
    <!-- Team End -->
    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-1.jpg' %}"
                         style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-2.jpg' %}"
                         style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-3.jpg' %}"
                         style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-4.jpg' %}"
                         style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
{% endblock %}
</body>
</html>